body {
    font-size: 12px;
}

.hidden{
    display: none;
}

.open > .dropdown-menu {
    display: block;
}

div.k-list-optionlabel,
li {
    font-size: 12px;
}

.dropdown-menu li {
    font-size: 12px;
    font-weight: bolder;
}

.kendo-window-alertMessage.k-window-content {
    padding-top: 6px;
    padding-bottom: 4px;
}

.k-disabled, [readonly="readonly"] {
    opacity: .8 !important;
}

.k-tooltip.red-tooltip[data-for^="grid_"] {
    margin-top: 40px;
}

.k-tooltip.red-tooltip {
    background-color: crimson;
    width: fit-content;
    margin-top: 5px;
}

    .k-tooltip.red-tooltip .k-callout.k-callout-n {
        color: crimson;
    }

    .k-tooltip.red-tooltip .k-callout.k-callout-s {
        color: crimson;
        margin-bottom: 20px;
    }

.k-input{
    margin: 2px;
}

    .k-input.k-disabled, textarea[readonly="readonly"] {
        background-color: #E9ECEF
    }

.k-input-inner {
    font-size: 12px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select, .k-dropdownlist {
    max-width: 270px;
}

.k-input-value-text {
    max-width: 220px;
}

.fixlength100 {
    width: 100px;
    text-align: right;
    padding-right: 5px;
}

.fixlength150 {
    width: 150px;
    text-align: right;
    padding-right: 5px;
}

.fixlength200 {
    width: 200px;
    text-align: right;
    padding-right: 5px;
}

.k-icon.k-i-search,
.handCursor,
#flightSchedule .fc-event,
.k-tooltip-content span,
.grid tbody {
    cursor: pointer;
}

.k-button-group {
    margin-top: 2px;
    margin-left: 2px;
}


.k-button, .k-menu-link-text {
    font-size: 12px;
}

    .k-button:hover {
        text-decoration: none;
        outline: 0
    }

.k-icon-button {
    gap: 0
}

    .k-icon-button .k-icon {
        display: -ms-inline-flexbox;
        display: inline-flex
    }

.k-button-icon {
    color: inherit;
    -ms-flex-item-align: center;
    align-self: center;
    position: relative
}

.k-button-sm {
    padding: .25rem .5rem;
    /*font-size: .875rem;*/
    line-height: 1.42857143
}

    .k-button-sm.k-icon-button {
        padding: .25rem
    }

        .k-button-sm.k-icon-button > .k-button-icon {
            min-width: 1.25rem;
            min-height: 1.25rem
        }

li.k-list-item {
    padding: 4px !important;
}

.k-grid {
    font-size: 12px;
    padding: 4px;
    margin-left: 4px;
}

.k-grid td {
    padding: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 280px;
}

    .k-grid .link-cell, .link-text {
        cursor: pointer;
    }

        .k-grid .link-cell:hover, .link-text:hover {
            text-decoration: underline;
            color: white;
            background-color: cornflowerblue;
        }

.link-text {
    font-weight: 700;
    margin: 4px 10px 4px 0px;
}

#powerSearch_result p:hover {
    background-color: gainsboro;
}

.card form, .col-form-label {
    font-size: 12px;
}

.form-control {
    height: calc(1.8rem);
    padding: 2px;
    font-size: 12px;
}

.container {
    max-width: 100%;
}

.content-wrapper, .content {
    /*margin-top: 5px;*/
}

div .row.form-group {
    padding: 0px;
    margin: 0px;
}

.inline{
    display: inline;
}

.form-control, .form-control-dateTime, .form-control-number, .form-control-dropdownlist {
    width: 100%;
    max-width: 270px;
    height: calc(1.8rem);
    font-size: 12px;
    margin: 2px;
}

.form-control-text {
    width: 100%;
    max-width: 270px;
    height: calc(1.8rem);
    font-size: 12px;
    margin: 2px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

    .form-control-text:focus {
        border: 1px solid #80BDFF;
    }

    .readonlyInput {
        background-color: #E9ECEF;
    }

    .form-control-textArea {
        max-width: 320px;
        height: calc(6rem);
        margin: 2px;
    }

.k-input-md .k-input-inner, .k-picker-md .k-input-inner {
    height: calc(1.6rem);
    padding-top: 0px;
    padding-right: 4px;
    padding-bottom: 0px;
    padding-left: 4px;
}

.k-header >.k-cell-inner > .k-link {
    padding: 8px 8px;
}

.k-dropdownlist {
    height: calc(1.6rem);
}

.formGroupTab {
    padding: 0px;
}

.formGroupTab.k-tabstrip {
    color: #000;
    border-color: #dedede;
    background-color: #efefef;
}
    .formGroupTab .k-link {
        color: black;
        font-weight: bold;
    }

    .formGroupTab .k-active .k-link {
        background: #b3badb;
        font-weight: bold;
    }

    .formGroupTab .k-tabstrip-item.k-item.k-disabled {
        display: none;
    }

div[data-role="buttongroup"] {
    height: 28.79px;
}

#flightSchedule a {
    color: black !important;

    @include hover() {
        color: black !important;
    }
}

.nav-item .fa-circle.nav-icon {
    font-size: 0.7rem !important;
    color: coral;
    margin-left: 1.5em;
}

.nav-item p {
    font-size: 0.95rem;
}

.sysCompany .dropdown-item, .currentSystemCompany {
    font-size: 0.8rem;
}

.sysCompany .dropdown-item i {
    margin-right: 5px;
}

.sysCompany .dropdown-divider {
    margin-top: 0px;
    margin-bottom: 0px;
}

#tabStripMain {
    height: 100%;
}

div[type=grid] .btn-destroy.k-grid-delete {
    width: 26px !important;
    height: 18px !important;
}

div[type=grid] .k-command-cell {
    padding: 3px !important;
}

td.k-edit-cell {
    padding: 1px !important;
}

.k-tabstrip-item.k-item {
    color: black;
    background: #E9ECEF;
    border-color: #D7D9DC;
}

    .k-tabstrip-item.k-item.k-active {
        color: white;
        background: #3788D8;
        /*background: #E9ECEF;*/
        /*border-color: #D7D9DC;*/
    }

.tab-control {
    /*background: #E9ECEF;*/
    border-color: #D7D9DC;
}

.selectHawbNoList .k-chip.k-selected {
    color: white;
    background-color: #1274AC;
}

.toolbar.k-toolbar .toolbar-status {
    position: absolute;
    right: 10px;
    font-size: 0.7rem;
}

.toolbar.k-toolbar .toolbar-frtMode, .toolbar.k-toolbar .toolbar-seaFrtMode {
    margin-left: 100px;
}

[name="logContent"] {
    font-size: 0.8em;
    margin-top: 5px;
}

.logFilter {
    color: #424242;
    font-size: 0.9em;
    cursor: pointer;
}

.LOG_INFO {
    color: green;
    font-weight: bold
}

.LOG_DEBUG {
    color: blue;
    font-weight: bold
}

.LOG_WARN {
    color: orange;
    font-weight: bold
}

.LOG_ERROR {
    color: red;
    font-weight: bold
}

.LOG_FATAL {
    color: purple;
    font-weight: bold
}

[name="toTop"] {
    width: 40px;
    padding: 5px;
    position: fixed;
    bottom: 105px;
    right: 40px;
    cursor: pointer;
    _float: right;
    _position: absolute;
    _top: expression(documentElement.scrollTop + documentElement.clientHeight-this.offsetHeight);
    _background-attachment: fixed;
}

span.menuButton {
    max-width: 256px;
    margin: 5px;
}

.kendo-window-alertMessage.k-window-content .dialogFooter {
    text-align: center;
    margin: 6px;
}

.k-loading-mask {
    z-index: 99999;
}

.highlight {
    background-color: yellow;
}