<div id="dashboardMain">
    <h2>RCS Cargo Dashboard</h2>
</div>

<script>
    var calendar;

    $(function () {
        var html = data.htmlElements.card("Flight Schedules", "<div id='flightSchedule'></div>", 8);
        html += data.htmlElements.card("Export Shipments volume by origin", "<div id='shipmentChart'></div>", 8);
        $("#dashboardMain").append(html);

        //add loading effects to all cards
        kendo.ui.progress($("#dashboardMain .card"), true);
        setTimeout(function () { createFlightSchedule(); }, 500);
        setTimeout(function () { createShipmentChart(); }, 500);
    });

    function createFlightSchedule() {
        var calendarEl = document.getElementById('flightSchedule');
        calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            dayMaxEventRows: true,
            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,dayGridWeek,timeGridDay'
            },
            datesSet: function (info) {
                getFlightNos(calendar, info.view.currentStart, info.view.currentEnd);
            },
            dateClick: function (info) {
                calendar.gotoDate(info.date);
                calendar.changeView("dayGridWeek");
            },
            eventClick: function (info) {
                let mawbList = `${info.event.title} `;

                kendo.ui.progress($("#dashboardMain .card").eq(0), true);
                $.ajax({
                    url: "../Air/Mawb/GetMawbInfoByFlightNo",
                    type: "post",
                    data: {
                        flightNo: info.event.title,
                        flightDate: info.event.start.toISOString(),
                        companyId: data.companyId
                    },
                    success: function (result) {
                        mawbList += `<b>${result[0].ORIGIN_CODE} - ${result[0].DEST_CODE}</b><br>`;
                        result.forEach(function (mawb) {
                            mawbList += `<span class="calenderTooltip" data-id="${mawb.MAWB}">${utils.formatMawbNo(mawb.MAWB)} / ${mawb.JOB}</span><br>`;
                        });

                        let toolTip = $(info.el).kendoTooltip({
                            content: mawbList,
                            showOn: "click",
                            autoHide: false,
                            width: 220,
                        }).data("kendoTooltip");
                        toolTip.show();

                        //indexPages.pageName="airMawb"  {linkIdPrefix}{linkTabTitle}
                        $(".calenderTooltip").each(function () {
                            let mawbNo = $(this).attr("data-id");
                            let id = `airMawb_${mawbNo}_${data.companyId}_AE`;
                            $(this).bind("click", function () {
                                controls.append_tabStripMain(`MAWB# ${utils.formatMawbNo(mawbNo)}`, id, "airMawb");
                                toolTip.hide();
                            });
                        });

                        kendo.ui.progress($("#dashboardMain .card").eq(0), false);
                    }
                });
            }
        });
        calendar.render();     
    }

    function getFlightNos(calendar, startDate, endDate) {
        //testObj = calendar;
        //add loading overlay effect
        kendo.ui.progress($("#dashboardMain .card").eq(0), true);
        $.ajax({
            url: "../Air/Mawb/GetFlightNos",
            type: "post",
            data: {
                startDate: startDate.toISOString(),
                endDate: endDate.toISOString(),
                companyId: data.companyId
            },
            success: function (result) {
                var events = [];
                result.forEach(function (item) {
                    events.push({
                        title: item.FLIGHT_NO,
                        start: utils.convertJsonToDate(item.FLIGHT_DATE)
                    });
                });
                calendar.removeAllEvents();
                calendar.addEventSource(events);
                kendo.ui.progress($("#dashboardMain .card").eq(0), false);
            }
        });
    }

    function createShipmentChart() {
        var endDate = new Date();
        var startDate = kendo.date.addDays(endDate, -365);

        kendo.ui.progress($("#dashboardMain .card").eq(1), true);
        $.ajax({
            url: "../Home/GetReportData",
            data: { reportName: "ShipmentVolumeReportByOrigin" },
            dataType: "json",
            success: function (result) {
                var months = [];
                var origins = [];
                var series = [];

                result.forEach(function (item) {
                    if (item.COUNTRY == "HONG KONG") {
                        var month = utils.formatDateTime(item.FLIGHT_DATE, "MMM-yy");
                        if (!months.includes(month))
                            months.push(month);
                    }

                    if (!origins.includes(item.COUNTRY))
                        origins.push(item.COUNTRY);
                });

                origins.forEach(function (origin) {
                    var data = [];
                    months.forEach(function (month) {
                        var hasRecord = false;
                        result.forEach(function (item) {
                            if (item.COUNTRY == origin && utils.formatDateTime(item.FLIGHT_DATE, "MMM-yy") == month) {
                                data.push(item.CWTS);
                                hasRecord = true;
                            }
                        });
                        if (!hasRecord)
                            data.push(0);
                    });

                    var validData = false;
                    data.forEach(function (i) {
                        if (i != 0)
                            validData = true;
                    });

                    if (validData)
                        series.push({ name: origin, data: data });
                });

                var data_all = [];
                months.forEach(function (month) {
                    var cwts_all = 0;
                    result.forEach(function (item) {
                        if (utils.formatDateTime(item.FLIGHT_DATE, "MMM-yy") == month) {
                            cwts_all += item.CWTS;
                        }
                    });
                    data_all.push(cwts_all);
                });
                series.unshift({ name: "All", data: data_all });

                //console.log(months);
                //console.log(series);

                $("#shipmentChart").kendoChart({
                    theme: "black",
                    title: { text: `Flight Date: ${kendo.toString(startDate, "MMM-d-yyyy")} - ${kendo.toString(endDate, "MMM-d-yyyy") }` },
                    legend: { position: "bottom" },
                    seriesDefaults: {
                        type: "area",
                        area: {
                            line: {
                                style: "smooth"
                            }
                        }
                    },
                    series: series,
                    valueAxis: {
                        title: {
                            text: "C/Wts (Ton)",
                            font: "12px sans-serif"
                        },
                        labels: {
                            template: "#= kendo.toString(value/1000, 'n0') #",
                            format: "{0:n0} KG"
                        },
                        line: {
                            visible: false
                        },
                        //axisCrossingValue: -10
                    },
                    categoryAxis: {
                        categories: months,
                        majorGridLines: {
                            visible: false
                        },
                        labels: {
                            rotation: "auto"
                        }
                    },
                    tooltip: {
                        visible: true,
                        format: "{0:n0} KG",
                        template: "#= series.name #: #= kendo.toString(value, 'n0') # KG",
                        font: "12px sans-serif"
                    }
                });

                kendo.ui.progress($("#dashboardMain .card").eq(1), false);
            }
        });
    }

</script>